<div class="crud-panel">
  <h2>Languages Management</h2>

  <div class="button-search-container">
    <button class="create-button" (click)="toggleForm()">Create</button>
    <input class="searchText" placeholder="Search..." [(ngModel)]="searchText" (input)="searchLanguages()">
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Language Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let language of filteredLanguages">
        <td>{{ language.languageId }}</td>
        <td>{{ language.languageName }}</td>
        <td>
          <div class="action-buttons">
            <button class="edit-button" (click)="editLanguage(language)">Edit</button>
            <button class="delete-button" (click)="confirmDelete(language.languageId)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-container" [ngClass]="{'active': isFormVisible}">
  <form [formGroup]="languageForm" (ngSubmit)="saveLanguage()">
    <input type="text" placeholder="Language Name" formControlName="languageName">
    <div *ngIf="languageForm.get('languageName')?.invalid && (languageForm.get('languageName')?.dirty || languageForm.get('languageName')?.touched)">
      <span *ngIf="languageForm.get('languageName')?.errors?.['required']">Language Name is required.</span>
      <span *ngIf="languageForm.get('languageName')?.errors?.['minlength']">Language Name must be at least 4 characters long.</span>
    </div>
    <div class="form-buttons">
      <button type="button" class="delete-button" (click)="cancelEdit()">Cancel</button>
      <button type="submit" class="create-button" [disabled]="languageForm.invalid">{{ editingLanguage ? 'Save' : 'Create' }}</button>
    </div>
  </form>
</div>
