<div class="crud-panel">
  <h2>Recipes Tag Management</h2>

  <div class="button-search-container">
    <button class="create-button" (click)="toggleForm()">Create Tag</button>
    <input class="searchText" placeholder="Search..." [(ngModel)]="searchText" (input)="searchRecipesTags()">
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Tag</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipeTag of filteredRecipesTags">
        <td>{{ recipeTag.recipeTagId }}</td>
        <td>{{ recipeTag.tag }}</td>
        <td>
          <div class="action-buttons">
            <button class="edit-button" (click)="editRecipeTag(recipeTag)">Edit</button>
            <button class="delete-button" (click)="deleteRecipeTag(recipeTag.recipeTagId)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Form Container -->
<div class="form-container" [ngClass]="{'active': isFormVisible}">
  <form [formGroup]="recipeTagForm" (ngSubmit)="saveRecipeTag()">
    <input type="text" placeholder="Tag" formControlName="tag">
    <div *ngIf="recipeTagForm.get('tag')?.invalid && (recipeTagForm.get('tag')?.dirty || recipeTagForm.get('tag')?.touched)">
      <span *ngIf="recipeTagForm.get('tag')?.errors?.['required']">Tag is required.</span>
      <span *ngIf="recipeTagForm.get('tag')?.errors?.['minlength']">Tag must be at least 1 character long.</span>
    </div>
    <div class="form-buttons">
      <button type="button" class="delete-button" (click)="cancelEdit()">Cancel</button>
      <button type="submit" class="create-button" [disabled]="recipeTagForm.invalid">{{ editingRecipeTag ? 'Save' : 'Create' }}</button>
    </div>
  </form>
</div>
