<p>comments works!</p>

<div>
  <button (click)="getAllComments()">Get All</button>
</div>

<div>
  <select [(ngModel)]="selectedEntityId">
    <option *ngFor="let comment of commentsList" [value]="comment.commentId">{{ comment.text }}</option>
  </select>
  <button (click)="confirmDelete()">Confirm Delete</button>
</div>

<div>
  <form [formGroup]="commentsForm" (ngSubmit)="create()">
    <input type="number" name="userId" id="userId" placeholder="User ID" formControlName="userId" required>
    <input type="number" name="recipeId" id="recipeId" placeholder="Recipe ID" formControlName="recipeId" required>
    <input type="text" name="text" id="text" placeholder="Comment" formControlName="text" required>
    <div *ngIf="commentsForm.get('text')?.invalid && (commentsForm.get('text')?.dirty || commentsForm.get('text')?.touched)">
      Comment is required and should be at least 4 characters long.
    </div>
    <button type="submit" [disabled]="commentsForm.invalid">Create</button>
  </form>
</div>
