<div class="crud-panel">
  <h2>Category Management</h2>


  <div class="button-search-container">
    <button class="create-button" (click)="toggleForm()">Create</button>
    <input class="searchText" placeholder="Search..." [(ngModel)]="searchText" (input)="searchCategories()">
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of filteredCategories">
        <td>{{ category.categoryId }}</td>
        <td>{{ category.name }}</td>
        <td>
          <div class="action-buttons">
            <button class="edit-button" (click)="editCategory(category)">Edit</button>
            <button class="delete-button" (click)="deleteCategory(category.categoryId)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-container" [ngClass]="{'active': isFormVisible}">
  <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
    <input type="text" placeholder="Name" formControlName="name">
    <div class="form-buttons">
      <button type="button" class="delete-button" (click)="cancelEdit()">Cancel</button>
      <button type="submit" class="create-button" [disabled]="categoryForm.invalid">{{ editingCategory ? 'Save' : 'Create' }}</button>
    </div>
  </form>
</div>
