<p>category works!</p>

<div>
  <button (click)="getAllCategory()">Get All</button>
</div>

<div>
  <select [(ngModel)]="selectedEntityId">
    <option *ngFor="let category of categoryList" [value]="category.categoryId">{{ category.name }}</option>
  </select>
  <button (click)="confirmDelete()">Confirm Delete</button>
</div>

<div>
  <form [formGroup]="categoryForm" action="" (ngSubmit)="create()">
    <input type="text" name="name" id="name" placeholder="name" formControlName="name">
    <button type="submit">Create</button>
  </form>
</div>
