<p>category works!</p>

<div>
  <button (click)="getAllCategory()">Get All</button>
</div>

<div>
  <select [(ngModel)]="selectedEntityId">
    <option *ngFor="let category of categoryList" [value]="category.categoryId">{{ category.name }}</option>
  </select>
  <button (click)="confirmDelete()">Confirm Delete</button>
</div>

<div>
  <form [formGroup]="categoryForm" action="" (ngSubmit)="create()">
    <input type="text" name="name" id="name" placeholder="Name" formControlName="name">
    <div *ngIf="categoryForm.get('name')?.invalid && (categoryForm.get('name')?.dirty || categoryForm.get('name')?.touched)">
  </div>
    <button type="submit" [disabled]="categoryForm.invalid">Create</button>
  </form>
</div>
