

<app-category></app-category>

<app-ingredient></app-ingredient>

<app-kitchen></app-kitchen>

<app-recipe></app-recipe>

<app-review></app-review>

<app-user-favorite></app-user-favorite>

<app-users></app-users>

<app-comments></app-comments>

<app-countries></app-countries>

<app-dietary-preferences></app-dietary-preferences>

<app-language></app-language>

<app-recipes-tag></app-recipes-tag>

<app-regions></app-regions>

<app-user-history></app-user-history>

<app-user-preferences></app-user-preferences>

