<p>countries works!</p>


<div>
  <h2>Countries</h2>
  <ul>
    <li *ngFor="let countries of countriesList">
      <p>Country ID: {{ countries.countryId }}</p>
      <p>Country: {{ countries.countryName }}</p>
      <p>Continent: {{ countries.continent }}</p>
    </li>
  </ul>
</div>

<form [formGroup]="countryForm" action="" (ngSubmit)="create()">
  <input type="text" name="countryName" id="countryName" placeholder="Country Name" formControlName="countryName">
  <input type="text" name="continent" id="continent" placeholder="Continent" formControlName="continent">
  <button type="submit">Create</button>
</form>
